h3 {
  position: absolute;
  top: 5px;
  right: 5px;
  color:#9a9aeb;
  font-size:30px;
  font-family:arial;
  font-weight:bold;
  border: 3px solid #FAF9F6;
  padding:5px;
}
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #2F3C7E;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(0 0 0);
  padding: 160px 0;
}
/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
header {
  text-align:left;
  font-family:arial;
  font-size:25px;
  margin-left: 25px;
  font-weight:bold;
  color:#E2D1F9;
  margin-bottom:10px;
}
/* Only tried fade here, test when publish again */
h1{
  text-align:left;
  font-family:arial;
  font-size:50px;
  font-weight:bold;
  color:#FAF9F6;
  margin-left: 25px;
  margin-top:30px;
  margin-bottom:5px;
  animation: fadein 2s;
}
h2{
  text-align:left;
  font-family:arial;
  font-size:30px;
  font-weight:bold;
  color:#FFD743;
  margin-left: 25px;
  margin-top:2px;
  margin-bottom:2px;
  margin-right:70px;
}
.button1 {
  border-radius: 15px;
  text-align:left;
  font-family:arial;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.4s;
  cursor: pointer; 
  color:#FAF9F6;
  background-color: #FFD743;
  width: 400px;
  font-weight:bold;
  margin-left:100px;
  margin-right:0px;
}
.button2 {
  border-radius: 15px;
  text-align:left;
  font-family:arial;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.4s;
  cursor: pointer; 
  color: #FAF9F6;
  background-color: #d99a6c;
  width: 400px;
  font-weight:bold;
  margin-left:100px;
  margin-right:0px;
  margin-top:3px;
  margin-bottom:3px;
}
.button3 {
  border-radius: 15px;
  text-align:left;
  font-family:arial;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #FAF9F6;
  background-color: #9a9aeb;
  width: 400px;
  font-weight:bold;
  margin-left:100px;
  margin-right:0px;
  margin-bottom:3px;
}
.button4 {
  border-radius: 15px;
  text-align:left;
  font-family:arial;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #FAF9F6;
  background-color: #2F3C7E;
  width: 400px;
  font-weight:bold;
  margin-left:100px;
  margin-right:0px;
}
.button5 {
  border-radius: 15px;
  text-align:left;
  font-family:arial;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #FAF9F6;
  background-color: #808080;
  width: 400px;
  font-weight:bold;
  margin-left:100px;
  margin-right:0px;
}
 /*BUTTON ANIMATIONS*/ 
.button1:hover {
  margin-left:150px;
  width:350px;
  margin-right:0px;
}
.button2:hover {
  margin-left:150px;
  width:350px;
  margin-right:0px;
}
.button3:hover {
  margin-left:150px;
  width:350px;
  margin-right:0px;
}
.button4:hover {
  margin-left:150px;
  width:350px;
  margin-right:0px;
}
.button5:hover {
  margin-left:150px;
  width:350px;
  margin-right:0px;
}
body {
   background-color: #2F3C7E;
   animation: fadeInAnimation ease 3s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
}